* {
    padding: 0;
    margin: 0;
}

:root {
    --b: #000;
    --w: #FFF;
    --r: #c1272dff;
    --h: #911d21;
    --bg: #edeef0;
    --bg2: #b3b3b3;
    --bgt: #f9f9fb;
}

body {
    background-color: var(--bg);
}

header {
    background-color: var(--r);
    display: flex;
    justify-content: left;
    align-items: center;
}

header img {
    width: 50px;
    height: 50px;
}

header a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 550;
    text-decoration: none;
    color: var(--w);
    padding-left: 5px;
    padding-right: 5px;
}

.link:hover {
    text-decoration: none;
    color: var(--w);
}

header .divlink:hover {
    background-color: var(--h);
}

#news-section {
    width: 95%;
    margin: auto;
    background-color: var(--bgt);
    border-radius: 5px;
}

#news-section a{
    text-decoration: none;
    color: var(--b);
}

.news {

    width: 90%;
    margin: auto;
    background-color: var(--bg);
    border-radius: 5px;
}

.padding {
    padding-top: 10px;
    padding-bottom: 10px;
}

.nimg {
    width: 100%;
    margin: auto;
    border-radius: 5px;
}

.ntitle {
    padding: 5px;
    font-size: 20px;
}

footer {
    height: 20px;
    font-size: 15px;
    display: flex;
    justify-content: start;
    align-items: baseline;
}

footer p {
    padding: 10px;
}

footer img {
    height: 40px;
    margin-left: 40px;
    margin-top: 20px;
}


.futbolhead {
    padding-left: 10px;
    text-align: center;
    text-size-adjust: 10px;
}

.botong {
    font-size: 25px;
    justify-content: space-around;
    align-items: center;
    display: flex;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    bottom: 50px;
    border: 0;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: var(--colorFondo);
    color: var(--colorBlanco);
    width: 100%;
    margin-top: 20px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

th.wrp {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.mnsz {
    min-width: 35px;
}

table {
    margin-top: 10px;
    width: 100%;
}

.table_wrapper{
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    background-color: var(--w);
    border-radius: 10px;
}

thead th a{
    text-decoration: none;
    color: var(--b);
}

thead th a:hover{
    text-decoration: none;
    color: var(--b);
    border-bottom: 1px solid var(--b);
}

th {
    padding-left: 10px;
}

section.tmain {
    width: 95%;
    margin: auto;
}

#des-section {
    width: 95%;
    margin: auto;
    background-color: var(--bg);
    margin-top: 20px;
    border-radius: 15px;
}

#menu ul{
    list-style: none;
    margin: 10px;
}

#menu a {
    color: var(--b);
    text-decoration: none;
}

#menu {
    border-radius: 15px 0px 0px 15px;
    display: none;
}

.des { 
    width: 90%;
    margin: auto;
    background-color: var(--bgt);
    border-radius: 15px;
    margin-bottom: 15px;
}

.desntitle {
    padding: 5px 5px 0px 5px;
    margin: 0;
    font-size: 20px;
}

.destitle {
    padding: 0px 5px 0px 5px;
    margin: 0;
    font-size: 10px;
}

.algo {
    padding-left: 15px;
    font-size: 20px;
    list-style: none;
    width: 50%;
}

.desimg {
    width: 60%;
    margin: auto;
    border-radius: 5px;
}

.desflex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#batl {
    background-color: var(--bg2);
}

@keyframes moveUp {
    0% {
        top: 0; /* Start at the top */
    }
    100% {
        top: -100vh; /* Move up by 100px */
        display: none;
    }
}

@keyframes popUp {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes noScroll {
    0% {
        overflow: hidden;
    }
    100% {
        overflow: scroll;
    }
}

.cubrir {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #911d21;
    animation: moveUp 2s ease-in-out 1s forwards;
}

.cubrir img {
    width: 20%;
    height: 20%;
    animation: popUp 1s ease-in-out 0s forwards;
}

.scrollbody {
    animation: noScroll 3s ease-in-out 0s forwards;
}

aside {
    width: 24%;
    height: 350px;
    background-color: var(--bgt);
    border-radius: 5px;
}

.medallero {
    width: 90%;
    margin: auto;
}

.asideynews {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.imgad {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgad img {
    width: 80%;
    height: auto;
}

aside p {
    font-size: 2vw;
}


.headernoti {
    width: 80%;
    margin: auto;
}

.headernoti img{
    width: 100%;
    margin: auto;
}

.notimg {
    width: 75%;
    margin: auto;
}

.menunav1 {
    display: none;
}

.menunav2 {
    display: none;
    background-color: var(--r);
}

.menunav2 a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 550;
    text-decoration: none;
    color: var(--w);
    padding-left: 5px;
    padding-right: 5px;
}

.menunav2 .divlink:hover {
    background-color: var(--h);
}

.closeIcon {
    display: none;
}


@media (min-width: 500px) {
    header div {
        display: flex;
        align-items: center;
        height: 50px;
        padding-left: 3px;
        padding-right: 3px;
        display: flexbox;
    }
    .des {
        width: 375px;
    }
    #des-section .padding {
        display: flex;
        flex-wrap: wrap;
    }
    
    #des-section {
        display: flex;
    }
    .mnic {
        display: none;
    }
    .menunav1 {
        display: flex;
    }
    .menunav2 {
        display: none;
    }
}

aside {
    font-size: 1.5vw;
    display: none;
}

@media (min-width: 700px) {
    #news-section {
        width: 630px;
    }
    .news {
        width: 95%;
        margin: auto;
        background-color: var(--bgt);
        border-radius: 5px;
    }

    .ntitle {
        padding: 10px;
        font-size: 25px;
    }
    
}

@media (min-width: 1050px) {
    #menu {
        display: block;
        width: 50%;
        font-size: 25px;
        text-align: center;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: var(--bgt);
    }
    aside {
        display: block;
        font-size: 1rem;
    }
    #news-section { 
        width: 50%;
    }
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.anek-devanagari-400 {
    font-family: "Anek Devanagari", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth"100;
}

.open-sans-400 {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth"100;
}